/* #ui {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}
#ui div, #ui button {
  margin: 5px 0;
} */

.bottom-panel
{
  background: lightgray;
/*   background-color: linear-gradient(rgb(233, 233, 233), rgb(193, 193, 193)); */
/*   box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  cursor: pointer; */

  border: 0;
  border-radius: 50px;
  color: black;

  display: flex;
  justify-content: space-around;
  align-items: center;
  
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 20px 5px;
  position: relative;
  text-align: center;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  overflow: hidden;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);


  height: 10%;
  transform:translate(0%, 80vh);

  z-inbdex: 1;
}

.play-button
{
  height: 6vh;
  width: 6vw;
  
  font-size: 20px;

  background-color: rgb(255, 180, 83);

  letter-spacing: 20px;
}

.play-button:hover
{
  height: 6vh;
  width: 6vw;

  font-size: 20px;
  
  background-color: rgb(29, 48, 219);

  letter-spacing: 20px;
}
